* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

body {
  background-color: #e6e6e6;
  font-family: "Brygada 1918", serif;
  overflow-x: hidden;
}
section,
footer {
  padding: 54px 0;
}

h3 {
  font-size: 50px;
}

p {
  color: #0000009c;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.btn {
  background-color: #f5972c;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  transition: 0.4s;
  font-family: "Roboto", sans-serif;
  border: none;
}

.btn.btn-animate {
  animation: animate-outline 1s ease-out infinite;
}

.btn:hover {
  background-color: #3580db;
}

header {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul a {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  margin: 0 25px;
  text-transform: uppercase;
  font-size: 17px;
  display: block;
}

nav ul a:not(.btn):after {
  content: "";
  background-color: #4f9cf9;
  height: 3px;
  width: 0%;
  display: block;
  margin: 0 auto;
  transition-duration: 0.5s;
}

nav ul a:hover::after {
  width: 100%;
}

nav .menu-icon {
  cursor: pointer;
  font-size: 25px;
  color: white;
  display: none;
}
nav .close-icon {
  font-size: 30px;
  color: white;
  display: none;
  cursor: pointer;
}

.banner {
  display: flex;
  justify-content: center;
}

.banner .banner-text {
  margin: 186px;
  text-align: center;
  padding: 0 90px;
}
.banner .banner-text h1 {
  font-size: 96px;
  color: white;
  font-family: "Brygada 1918", serif;
  font-weight: bold;
}

.banner .banner-text p {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  color: #ffffffb7;
  margin: 18px 0;
}

/*faca mais*/

.faca-mais .container {
  display: flex;
  align-items: center;
}

.faca-mais .faca-mais-text {
  width: 50%;
  padding: 0 40px;
}
.faca-mais .faca-mais-text h3 {
  font-family: "Brygada 1918", serif;
  font-size: 56px;

  color: rgb(92, 92, 92);
}

.faca-mais .faca-mais-text p {
  font-family: "Roboto", sans-serif;
  margin: 5px 0 10px 0;
}

.faca-mais .faca-mais-img {
  width: 50%;
}
.faca-mais .faca-mais-img img {
  transition: transform 0.2s; /* Animation */
  width: 100%;
  border-radius: 20%;
  box-shadow: 5px 5px 5px 5px rgb(179, 177, 177);
}

.faca-mais .faca-mais-img img:hover {
  transform: scale(1.1);
}

/*Formulario*/

.form {
  max-width: 746px;
  margin: 0 auto;
}
.form p {
  text-align: center;
  font-size: 24px;
  line-height: 34px;
}

.formulario {
  min-height: 300px;
  background: #fafafc;
  border-radius: 8px;
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.formulario fieldset {
  border: none;
}
.formulario fieldset legend {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: black;
  width: 100%;
  border-bottom: 1px solid #e6e6f0;
  padding-bottom: 16px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}
.input-wrapper label {
  font-size: 16px;
  line-height: 24px;
  color: #6c6a71;
  margin-bottom: 8px;
}

.input-wrapper input,
.input-wrapper select {
  background: #fafafc;
  border: 1px solid #e6e6f0;

  border-radius: 8px;
  height: 56px;
  padding: 0 24px;
  font-family: "Brygada 1918", serif;
  font-size: 16px;
  line-height: 26px;
  color: #272727;
}

.input-wrapper textarea {
  padding: 0;
  height: 168px;
  resize: none;
  background: #fafafc;
  border: 1px solid #e6e6f0;
  border-radius: 8px;
  font-family: "Brygada 1918", serif;
  font-size: 16px;
  line-height: 26px;
  color: #c1bccc;
}
.fundo {
  background-image: url(/images/Colored\ Shapes\ 2.svg);
  background-position: right;
  background-size: cover;
  opacity: 95%;
}
/*Animation*/
.tela {
  height: 100vh;
  display: flex;
}
.hidden {
  opacity: 0;
  filter: blur(15px);
  transform: translateX(-100%);
  transition: all 2s;
}
.hidden-1 {
  opacity: 0;
  filter: blur(15px);
  transform: translateX(100%);
  transition: all 2s;
}
.hidden-2 {
  opacity: 0;
  filter: blur(15px);
  transform: translateY(-100%);
  transition: all 2s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 2s;
}

/*Footer*/

.footer {
  background-color: rgb(240, 240, 240);
  text-align: center;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .navegations {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer .navegations a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 17px;
  display: block;
}

.footer .endereco {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer .container .icon {
  width: 72px;
  height: 72px;
  border-radius: 100px;
  background-color: #fff;
  margin: 20px;
  text-align: center;
  font-size: 32px;
  line-height: 72px;
  font-family: sans-serif;
  overflow: hidden;
  box-shadow: 5px 10px 20px rgba(150, 150, 150, 0.3);
  transition: all 0.3s ease-out;
}
.footer .container .icon:hover {
  width: 300px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
}
.footer .container .icon .fa-facebook-f {
  color: #1a6ed8;
}
.footer .container .icon .fa-whatsapp {
  color: #25d366;
}
.footer .container .icon .fa-instagram {
  color: #e84393;
}
.footer .container .icon:hover i {
  color: #fff;
}

.footer .container .fb:hover {
  background: #1a6ed8;
}
.footer .container .wpp:hover {
  background: #25d366;
}
.footer .container .insta:hover {
  background: #e84393;
}

/*pagina sobre*/
.sobreh3 {
  text-align: center;
  margin-bottom: 128px;
  font-size: 86px;
}
.sobre .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sobre .sobre-text {
  width: 50%;
  padding-right: 40px;
}
.sobre .sobre-text p {
  margin: 18px 0;
  color: #000000a6;
}
.sobre .sobre-img {
  width: 50%;
}
.sobre .sobre-img img {
  width: 100%;
  border-radius: 20%;
}

/*Pagina de contato*/
.contato-info {
  display: flex;
  justify-content: space-between;

  margin-top: 56px;
}
.contato-info .left-side {
  width: 50%;
  padding: 30px;
  background-color: #4f9cf9;
  border-radius: 14px;
  margin-right: 48px;
  height: fit-content;
}
.contato-info .left-side div {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.contato-info .left-side p {
  font-size: 24px;
  color: white;
}
.contato-info .left-side div i {
  font-size: 24px;
  margin-right: 24px;
  color: white;
}

.contato-info .right-side {
  width: 50%;
}
.contato-info .right-side input {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  height: 48px;
  padding: 16px;
  border-radius: 9px;
  transition: 0.3s;
  border: 1px solid #e6e6f0;
  color: black;
  font-weight: lighter;
}
.contato-info .right-side input:focus,
.contato-info .right-side textarea:focus {
  border-color: #4f9cf9;
}
.contato-info .right-side textarea {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  padding: 16px;
  border-radius: 9px;
  transition: 0.3s;
  border: 1px solid #e6e6f0;
  color: black;
  font-weight: lighter;
  resize: none;
}
.contato-info .right-side button {
  border: none;
}
@media (max-width: 830px) {
  .footer .container {
    flex-direction: column;
  }
  .redes-sociais {
    display: none;
  }
  /*menu-mobile*/
  nav .menu-icon {
    display: block;
  }
  .ul.open {
    clip-path: circle(141.2% at 100% 0);
  }

  .ul a {
    margin: 10px 0;
    font-size: 16px;
  }

  .ul {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #184b88;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    clip-path: circle(0% at 100% 0);
    transition: 0.7s;
  }

  nav .close-icon {
    display: block;
    position: absolute;
    top: 74px;
    right: 1px;
  }

  /*Pagina Home Responsiva*/
  .faca-mais .faca-mais-text {
    margin-top: 10px;
    padding: 0 20px;
    order: 1;
  }
  .faca-mais .container {
    flex-direction: column;
  }

  .faca-mais .faca-mais-text h3 {
    font-size: 24px;
  }
  .faca-mais .faca-mais-text,
  .faca-mais .faca-mais-img {
    width: 100%;
  }

  /*banner*/
  .banner .banner-text {
    padding: 0;
    margin: 80px;
  }

  .banner .banner-text h1 {
    font-size: 68px;
  }
  .banner .banner-text p {
    font-size: 16px;
  }

  /*Pagina sobre*/
  .sobre .container {
    flex-direction: column-reverse;
  }

  .sobre .sobre-img,
  .sobre .sobre-text {
    width: 100%;
  }
  .sobre h3 {
    font-size: 68px;
    margin-bottom: 40px;
  }
  .sobre .sobre-text h3 {
    font-size: 32px;
    margin-bottom: 16px;
  }
  /*pagina contato*/

  .contato .contato-info {
    flex-direction: column-reverse;
  }
  .contato .contato-info .left-side,
  .contato .contato-info .right-side {
    width: 100%;
  }
  .contato-info .left-side p {
    font-size: 18px;
    color: white;
  }

  .contato-info .right-side {
    margin-bottom: 32px;
  }
}
